{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>
				<div class="form-group">
					{{ form.title.label(class="form-control-label") }}
					{% if form.title.errors %}
						{{ form.title(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.title(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group" id="txtarea">
					{{ form.content.label(class="form-control-label") }}
					{% if form.content.errors %}
						{{ form.content(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.content.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.content(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<script type="text/javascript">
		const tx = document.getElementsByTagName("textarea");
		const txHeight = tx.height;
		for (let i = 0; i < tx.length; i++) {
			if (tx[i].value == '') {
				tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
			} else {
				tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
			}
			tx[i].addEventListener("input", OnInput, false);
		}

		function OnInput(e) {
			this.style.height = "auto";
			this.style.height = (this.scrollHeight) + "px";
		}
	</script>
{% endblock content %}