{% extends "layout.html" %}
{% block content %}	  
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
			<div class="media-body">
			    <div class="article-metadata">
			    	<a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
			    	<small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
			    	{% if post.author == current_user %}
			    		<div>
			    			<a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
			    			<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
			    		</div>
			    	{% endif %}
			    </div>
			    <h2 class="article-title">{{ post.title }}</h2>
			    <p class="article-content">{{ post.content }}</p>
			</div>
		</article>
		<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
			    	<div class="modal-header">
				        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
			      	</div>
			    	<div class="modal-body">
			    		Are you sure? You want to delete this post
			    	</div>
			    	<div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
				        	<input class="btn btn-danger" type="submit" value="Delete">
				        </form>
			    	</div>
		    	</div>
			</div>
		</div>
{% endblock content %}